<div class="container mt-3">
    <h1>PIPES <SMALL>ANGULAR</SMALL></h1>
    <hr>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Pipe</th>
                        <th>Descripción</th>
                        <th>Valor Entrada</th>
                        <th>Valor Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>upercase</td>
                        <td>Pasa a mayusculas</td>
                        <td>{{nombre}}</td>
                        <td>{{ nombre | uppercase }}</td>
                    </tr>
                    <tr>
                        <td>lowercase</td>
                        <td>Pasa a minusculas</td>
                        <td>{{nombre}}</td>
                        <td>{{ nombre | lowercase }}</td>
                    </tr>
                    <tr>
                        <td>slice:[caracteres]</td>
                        <td>Elimina caracteres indicados por la izd. de una cadena.</td>
                        <td>{{nombre}}</td>
                        <td>{{ nombre | slice:3 }}</td>
                    </tr>
                    <tr>
                        <td>slice:[inicio]:[caracteres]</td>
                        <td>Desde una posición dada, muestra el número de caracteres indicado de una cadena.</td>
                        <td>{{nombre}}</td>
                        <td>{{ nombre | slice:0:3 }}</td>
                    </tr>
                    <tr>
                        <td>slice:[inicio]:[posiciones-muestra]</td>
                        <td>Desde una posición dada, muestra el número de elementos indicado de un array .</td>
                        <td>{{numeros}}</td>
                        <td>{{ numeros | slice:0:3 }}</td>
                    </tr>
                    <tr>
                        <td>number</td>
                        <td>Convierte a número una cadena</td>
                        <td>{{PI}}</td>
                        <td>{{ PI | number }}</td>
                    </tr>
                    <tr>
                        <td>number:'3.0-0'</td>
                        <td>Convierte a número una cadena y además retorna tres enteros y ningún decimal.</td>
                        <td>{{PI}}</td>
                        <td>{{ PI | number:'3.0-0' }}</td>
                    </tr>
                    <tr>
                        <td>number:'3.0-2'</td>
                        <td>Convierte a número una cadena y además retorna tres enteros y dos decimales.</td>
                        <td>{{PI}}</td>
                        <td>{{ PI | number:'3.0-2' }}</td>
                    </tr>
                    <tr>
                        <td>percent</td>
                        <td>Pasa a formato de porcentaje.</td>
                        <td>{{porcentaje}}</td>
                        <td>{{ porcentaje | percent}}</td>
                    </tr>
                    <tr>
                        <td>percent:'2-0-2'</td>
                        <td>Pasa a formato de porcentaje con la cantidad de dígitos indocados en la parte entera y en la parte decimal.</td>
                        <td>{{porcentaje}}</td>
                        <td>{{ porcentaje | percent:'2.0-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>