<div class="container mt-3">
    <h1>PIPES <SMALL>ANGULAR</SMALL></h1>
    <hr>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Valor Entrada</th>
                        <th>Pipe</th>
                        <th>Valor Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{nombre}}</td>
                        <td>upercase</td>
                        <td>{{ nombre | uppercase }}</td>
                    </tr>
                    <tr>
                        <td>{{nombre}}</td>
                        <td>upercase</td>
                        <td>{{ nombre | lowercase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>